.nhs-care-container1 {
  color: var(--dl-color-primary-main);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-background);
}
.nhs-care-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-background);
}
.nhs-care-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nhs-care-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nhs-care-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nhs-care-link1 {
  color: var(--dl-color-primary-background);
  transition: 0.3s;
  border-color: var(--dl-color-primary-main);
  text-decoration: none;
  background-color: var(--dl-color-primary-main);
}

.nhs-care-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-background);
}
.nhs-care-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nhs-care-text10 {
  font-size: 3rem;
}
.nhs-care-text11 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.nhs-care-image1 {
  width: 72%;
  margin-top: var(--dl-space-space-twounits);
}
.nhs-care-image2 {
  width: 72%;
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
}
.nhs-care-text12 {
  width: 45rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  padding-top: var(--dl-space-space-twounits);
}
.nhs-care-ul {
  flex: 1;
  width: 45rem;
}
.nhs-care-li1 {
  list-style: circle;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.nhs-care-li2 {
  list-style: circle;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.nhs-care-li3 {
  list-style: circle;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.nhs-care-li4 {
  list-style: circle;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.nhs-care-li5 {
  list-style: circle;
  font-family: Poppins;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.nhs-care-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.nhs-care-image3 {
  width: 48%;
  object-fit: cover;
}
.nhs-care-image4 {
  width: 48%;
  object-fit: cover;
}
.nhs-care-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.nhs-care-text26 {
  width: 45rem;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.nhs-care-link2 {
  color: var(--dl-color-primary-main);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-main);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.nhs-care-link2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-main);
}
.nhs-care-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.nhs-care-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nhs-care-link3 {
  display: contents;
}
.nhs-care-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: 0px;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .nhs-care-nav {
    padding-left: 0px;
  }
  .nhs-care-text10 {
    font-size: 3rem;
  }
  .nhs-care-text12 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
  }
  .nhs-care-container4 {
    width: 637px;
    height: 686px;
  }
  .nhs-care-text26 {
    font-family: Poppins;
    font-weight: 600;
  }
  .nhs-care-icon1 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 1200px) {
  .nhs-care-text10 {
    font-family: Poppins;
  }
  .nhs-care-text11 {
    font-family: Poppins;
  }
  .nhs-care-image1 {
    width: 80%;
  }
  .nhs-care-image2 {
    width: 80%;
  }
}
@media(max-width: 991px) {
  .nhs-care-hero {
    flex-direction: column;
  }
  .nhs-care-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .nhs-care-text10 {
    text-align: center;
  }
  .nhs-care-text11 {
    text-align: center;
  }
  .nhs-care-image1 {
    width: 80%;
  }
  .nhs-care-image2 {
    width: 80%;
  }
  .nhs-care-text26 {
    text-align: center;
  }
  .nhs-care-icon1 {
    fill: var(--dl-color-primary-main);
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .nhs-care-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nhs-care-nav {
    display: none;
  }
  .nhs-care-btn-group {
    display: none;
  }
  .nhs-care-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nhs-care-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nhs-care-image2 {
    width: 80%;
  }
  .nhs-care-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nhs-care-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nhs-care-text27 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .nhs-care-header {
    padding: var(--dl-space-space-unit);
  }
  .nhs-care-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nhs-care-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nhs-care-image1 {
    width: 100%;
  }
  .nhs-care-image2 {
    width: 100%;
  }
  .nhs-care-text12 {
    width: 100%;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 500;
  }
  .nhs-care-ul {
    width: 100%;
  }
  .nhs-care-container4 {
    width: 432px;
    height: 465px;
  }
  .nhs-care-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nhs-care-text26 {
    width: 100%;
  }
  .nhs-care-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .nhs-care-text27 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nhs-care-icon-group {
    padding: 2rem 0;
    padding-left: 2rem 0;
  }
  .nhs-care-icon1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
