.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery-card1-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text2 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}



@media(max-width: 1600px) {
  .gallery-card1-image {
    height: 60%;
  }
  .gallery-card1root-class-name {
    height: auto;
  }
}
@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
  .gallery-card1root-class-name1 {
    width: auto;
    height: auto;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
  .gallery-card1root-class-name {
    margin-top: var(--dl-space-space-twounits);
  }
  .gallery-card1root-class-name2 {
    height: var(--dl-size-size-xxlarge);
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
}
